@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e53935; 
  border-radius: 5px;
  /* border: 2px solid black; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border: 1px solid #e53935; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  
}

body, html {
  background-color: #141414;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.App {
  background-color: black;
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 .2em .5em rgba(0, 0, 0, .5);
}

.App .player {
  height: 240px;
  border-bottom: 1px solid  #e53935; 
}

.App .player audio {
  display: none;
}

.App .player .subtitle {
  height: 160px;
  overflow: hidden;
  padding: 1em;
  text-align: center;
}

.App .player .subtitle>div {
  overflow: hidden;
  height: 160px;
}

.App .player .subtitle .rabbit-lyrics__line {
  line-height: 2em;
}

.App .player .subtitle-wrapper {
  position: relative;
  overflow: hidden;
  height: 160px;
}

.App .player .subtitle-wrapper .disk {
  width: 240px;
  height: 240px;
  position: absolute;
  bottom: -120px;
  left: 50%;
  margin-left: -120px;
  border-radius: 120px;
  border: 5px solid white;
  transition: all .3s;
}

.App .player .subtitle-wrapper .disk[isplaying='true'] {
  animation: inject 1s forwards, rotateDisk 5s infinite linear;
}

@keyframes inject {
  0% {
    bottom: -120px;
  }

  50% {
    bottom: -180px;
  }

  100% {
    bottom: -120px;
  }
}

@keyframes rotateDisk {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.App .player .subtitle-wrapper .disk img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.App .player .subtitle-wrapper .disk:after {
  display: block;
  content: ' ';
  background-color: black;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 16px;
}

.App .player .timeline-wrapper {
  height: 10px;
  padding: 2.5px 3px;
}

.App .player .info {
  float: left;
  width: calc(100% - 100px);
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.App .player .info .song {
  font-weight: bold;
  color: #e53935; 
}

.App .player .info .singer {
  font-weight: lighter;
  font-size: smaller;
}

.App .player .control {
  text-align: center;
  line-height: 70px;
  height: 70px;
  width: 100px;
  float: right;
}

.App .player .play {
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 24px;
  border: none;
  background-color: white; 
  cursor: pointer;
}

.App .player .play img {
  width: 100%;
  height: 100%;
}

.App .player .timeline {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: #212121;
  overflow: hidden;
}

.App .player .timeline .current {
  height: 5px;
  background-color: #e53935; 
}

.App .playlist {
  height: calc(100vh - 240px);
  overflow: auto;
}


.App .playlist .song {
  display: block;
  border: none;
  color: white;
  background-color: transparent;
  width: 100%;
  text-align: left;

  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1em;
  font-weight: lighter;
  font-size: smaller;
  border-left: 4px solid #242424;
  cursor: pointer;
  transition: all .3s;
  position: relative;
}

.App .playlist .song .icon {
  display: none;
  position: absolute;
  right: .5em;
  z-index: 1000;
  width: 32px;
  height: 32px;
  top: 4px;
  right: 4px;
  padding: 8px;
  animation: iconRotate 1s infinite linear;
}

@keyframes iconRotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.App .playlist .song .icon img {
  width: 100%;
  height: auto;
  display: block;
}

.App .playlist .song:nth-child(odd) {
  background-color: #080808;
}

.App .playlist .song:hover, .App .playlist .song[iscurrent="true"] {
  border-left: 4px solid #e53935;
  font-weight: bold;
  background-color: #141414;
}

.App .playlist .song:hover .icon,  .App .playlist .song[iscurrent="true"] .icon {
  display: block;
}